# Convex
EXPO_PUBLIC_CONVEX_URL=https://your-deployment.convex.cloud
EXPO_PUBLIC_CONVEX_SITE_URL=https://your-deployment.convex.site

# Sentry
EXPO_PUBLIC_SENTRY_DSN=https://your-dsn@sentry.io/project-id
